<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current Items ({{cats.length}})</h4>
  <div class="card-body">
	<table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Coin</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
		  <th scope="col">Buy/Sell</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cats.length === 0">
        <tr>
          <td colspan="4">There are no logged transactions. Add a new item below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing" id="tableBody">
        <tr *ngFor="let cat of cats">
          <td>{{cat.coin}}</td>
          <td>{{cat.amount}}</td>
          <td>{{cat.date.substr(0,10)}}</td>
		  <td>{{cat.type}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCat(cat)">
              <input class="form-control mr-2" type="text" name="coin" [(ngModel)]="cat.coin" placeholder="Coin" required>
              <input class="form-control mr-2" type="text" name="amount" [(ngModel)]="cat.amount" placeholder="Amount" required>
			  <select class="form-control mr-2" name="type" [(ngModel)]="cat.type" required>
				<option value="Buy" >Buy</option>
				<option value="Sell" >Sell</option>
			  </select>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">select site</h4>
  <div class="card-body">
<select class="form-control mr-2" name="type" [(ngModel)]="cat.type" required>
	<option value="Buy" >Buy</option>
	<option value="Sell" >Sell</option>
</select>
<button class="btn btn-sm btn-primary" (click)="displayCats(selectedSite, cats)">Filter</button>
</div>
</div>
<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new username</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addCatForm" (ngSubmit)="addCat()">
	  <input class="form-control mr-2" id='coinName' type="text" name="coin" [(ngModel)]="cat.coin" placeholder="Coin" formControlName="coin" required>
      <input class="form-control mr-2" type="text" name="amount" [(ngModel)]="cat.amount" placeholder="Amount" formControlName="amount" required>
	  <select class="form-control mr-2" name="type" [(ngModel)]="cat.type" formControlName="type" required>
		<option value="Buy" >Buy</option>
		<option value="Sell" >Sell</option>
	  </select>
	  <!--<input class="form-control mr-2" type="text" name="user" formControlName="user" id="catUser">-->
      <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
